<html>
        <body>
            <form class="container text-center" name="pyeztoolbox" method="POST" action="/runjob">
                <form action="/runjob"><br><br>
                Username<br><input type="text" name="uname"><br><br>
                Password<br><input type="password" name="upass"><br><br>
                MAC Address<br><input type="text" name="addressinput" enabled><br><br>
            		<br>
            		<br>
                <center><button type="submit" name="button" class="btn btn-primary btn-sml" enabled><strong>OK</strong></button></center><br>
                <center>Click the "OK" button above to gather info</center>
                </form></p>
            </form>
        </body>
        </html>
